*{
    font-family: Roboto;   
}
.head{
    background-color: #1F2937;
    height: 400px;
}
#Logo{
    color:white;
}
#ul{
    list-style: none;
    color: white;
    display:flex ;
    justify-content: space-between;
  
}
.link{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.headParts{
    display: flex;
    justify-content: space-around;
}
.headRight{
 display: flex;
 justify-content:space-around;
}
h1{
    color: white;
}
.LeftSide{
    margin-left: 220px;
    color: white;
}
.text{
    display: block;
}
.sign{
    height: 42px;
    width: 120px;
    border-radius: 15px;
    background-color: #3882f6;
    color: white;
    margin-left: 215px;
    font-weight: bold;
    font-size: 16px;
}
.whole{
    display: flex;
}
img{
    margin-left: 350px;
}

.second-box{
background-color: white;
height:300px;
display: flex;
flex-direction: column;
justify-content: center;

}

h2{
   font-size: 26px;
    color:#1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.box{
    
    border-radius: 8px;
    border:4px solid #3882f6;
    width: 100px;
    height:100px;
    display: flex;
    margin: 10px;

}
#boxes{
    display:flex;
    justify-content:center ;
    align-items: center;
    
}
.box-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.paragraph{
    text-align: center;
}

 .third-box{
    background-color: #e5e7eb;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
 }  
 #quote,#author{
    margin:0;
 }   
 #quote{
    font-size: 20px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
 }
 #author{
    font-weight: bold;
    display:flex;
    font-size: 15px;
    font-style: normal;
    margin-top: 0;
    padding-top: 0;
    
   
 }
 .text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
 }
 .fourth-text{
   display: flex;
   justify-items: center;
   align-items: center;
 }
 #blue-box{
    background-color: #3882f6;
    height:130px;
    width:1000px;
    display:flex;
    margin: 80px;
    margin-left: 250px;
    border-radius: 8px;
    justify-items: space-around;


 }
 .left-text{
    display: flex;
    flex-direction: column;
    color:white;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-items: center;
   

 }
 #button{
   height: 28px;
    width: 100px;
    border-radius: 5px;
    border-color: white;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 16px;

 }
 .right-button{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding-left: 250px;
 }
 #text1{
    margin-bottom:0 ;
    font-weight: bold;
 }
 #text2{
    margin-top: 0;
 }
 .footer{
    height:80px;
    background-color: #1F2937;
 }
 #Copyright{
    color: #e5e7eb;
    text-align: center;
    padding-top: 35px;
 }