*{
    font-family: Roboto;   
}
.head{
    background-color: #1F2937;
    height: 400px;
}
#Logo{
    color:white;
}
#ul{
    list-style: none;
    color: white;
    display:flex ;
    justify-content: space-between;
  
}
.link{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.headParts{
    display: flex;
    justify-content: space-around;
}
.headRight{
 display: flex;
 justify-content:space-around;
}
h1{
    color: white;
}
.LeftSide{
    margin-left: 220px;
    color: white;
}
.text{
    display: block;
}
.sign{
    height: 42px;
    width: 120px;
    border-radius: 15px;
    background-color: #3882f6;
    color: white;
    margin-left: 215px;
    font-weight: bold;
    font-size: 16px;
}
.whole{
    display: flex;
}
img{
    margin-left: 350px;
}
